.products {
    text-align: center;
    min-height: 1000px;

}


select {
    display: block;
    margin: 10px auto;
  }

  
  .error {
    margin: 40px auto;
    font-size: 2rem;
    text-align: center;

  }